/*Файл содержит стили кнопок*/
/***************************/

/*Общий класс круглых кнопок*/
.roundButton {
    border-radius: 7em;
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin: 5px;
    border: 2px outset #ec560d;
    display: inline-block;
}

.roundButton:hover {
    background-color: rgb(0, 0, 0);
    transition: background-color 1s ease;
    border-style: dotted;
    transition-delay: 0.1s;
}
.roundButton:active{
    background-color: rgb(163, 7, 0);
    transition: background-color 0.01s ease;
    transition-delay: 0s;
}


/*div, содержащий кнопка очистки*/
.washedAlphabetButton{
    display: none;
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    background-color: white;
    left:50%;
}
.washedAlphabetButton:hover, .washedAlphabetButton:focus{
    transition-duration:1s;
    filter: invert(100%);
}
.washedAlphabetButton:active{
    background-color: #00f7ff;
    transition: background-color 0.02s ease;
}

.matrixClearButton{
    display: none;
    position: relative;
    background-color:white;
    width: 50%;
    height: 100%;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    top:-100%;
}

.matrixClearButton:hover, .matrixClearButton:focus{
    transition-duration:1s;
    filter: invert(100%);
}

.matrixClearButton:active{
    background-color: #00f7ff;
    transition: background-color 0.02s ease;
}

.washedMatrix:hover .matrixClearButton {
    display: block;
}
.washedMatrix:hover .washedAlphabetButton{
    display: block;
}

.subMenuWashed{
    width: 0;
    height: 0;
    opacity: 0;
    transition: 0.5s linear;
    background-color: transparent;
    position: relative;
    top: -20%;
    left: -20%;
}

.subMenuWashed td{
      display: none;
}

.washedMatrix:hover .subMenuWashed td{
    display: table-cell;
}
.washedMatrix:hover .subMenuWashed{
    width: 130%;
    z-index: 100;
    opacity: 99;
    display: table;
    animation-delay: 1s;
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.subMenuWashed td {
    border: 1px solid #7f7f7f;
    border-radius: 20%;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
}

.subMenuWashed td:hover{
    transition-duration:1s;
    filter: invert(100%);
}

.subMenuWashed td:active{
    background-color: #00f7ff;
    transition: background-color 0.02s ease;
}


.subMenuLanguageSelection{
    width: 0;
    height: 0;
    opacity: 0;
    transition: 0.5s linear;
    position: relative;
    top: -50%;
}

.countryFlag:hover .subMenuLanguageSelection{
    opacity: 99;
    display: table;
    animation-delay: 1s;
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.countryFlag:hover .subMenuLanguageSelection td{
    display: table-cell;
}

.subMenuLanguageSelection td {
    border: 2px solid rgb(0, 0, 0);
    background-color: #24292d;
    border-radius: 50%;
    width: 70px;
    height: 40px;
    display: none;
}

.subMenuLanguageSelection td:hover{
    transition-duration:1s;
    background-color: rgb(33, 214, 18);
    border: 2px solid rgb(193, 12, 9);
}

.subMenuLanguageSelection td:active{
    background-color: #ff4f22;
    transition: background-color 0.02s ease;
}

/*Показать, скрыть*/
.show-hide {
    border-radius: 7em;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin:2px;
    border: 1px solid #0096d0;
    background-color: rgba(11, 78, 147, 0.51);
    position: relative;
    top:13px;
}

.show-hide:hover, .show-hide:focus {
    background-color: rgba(11, 151, 255, 0.61);
    transition: background-color 1s ease;
    transition-delay: 0.1s;
}

.show-hide:active {
    background-color: rgb(20, 162, 255);
    transition: background-color 0.01s ease;
    transition-delay: 0s;
}

/******Меню******/
.mainMenu{
    border-collapse: separate;
    text-align: center;
    cursor: pointer;
    position: fixed;
    left:90%;
    z-index: 99;
}

.mainMenu th{
    width: 40px;
    height: 40px;
    border: 2px solid #b70029;
    border-radius: 10px 10px 90px 90px ;
}

.mainMenu td{
    width: 0;
    height: 0;
    opacity: 0;
    transition: 0.5s linear;
    position: absolute;
    top:-1000%;
    border-radius:50%;
    border: 2px solid #d00015;
    background-color: rgba(255, 255, 255, 0.51);
}

.mainMenu td a{
    width:100%;
    height: 100%;
    display: block;
    border-radius:50%;
}

.mainMenu:hover td{
    position: static;
    width: 40px;
    height: 40px;
    opacity: 99;
    animation-delay: 1s;
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.mainMenu td:hover, .mainMenu td:focus {
    background-color: #d00015;
    border: 2px dotted #000000;
    transition: background-color 1s ease;
    transition-delay: 0.1s;
}

.mainMenu td:active {
    background-color: #ff0066;
    transition: background-color 0.01s ease;
    transition-delay: 0s;
}

.playerButtons {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px outset #07a6ca;
    cursor: pointer;
    margin-top: 10px;
    z-index: 10;
    position: relative;
}

.playerButtons:hover {
    background-color: rgb(7, 119, 126);
    transition: background-color 1s ease;
    border-style: dotted;
    transition-delay: 0.1s;
}
.playerButtons:active{
    background-color: rgb(75, 163, 4);
    transition: background-color 0.01s ease;
    transition-delay: 0s;
}

