/*Файл содержит стили кнопок*/
/***************************/

/*Общий класс круглых кнопок*/
.roundButton {
    border-radius: 7em;
    cursor: pointer;
    width: 70px;
    height: 70px;
    display: block;
    margin: 5px;
}

/*Очистить матрицу******/
.washedMatrix {
    border: 2px solid #ffe700;
    display: inline-block;
}

.washedMatrix:hover, .washedMatrix:focus {
    background-color: #ffe700;
    transition: background-color 1s ease;
    transition-delay: 0.1s;
}

.washedMatrix:active {
    background-color: #ffa900;
    transition: background-color 0.01s ease;
    transition-delay: 0s;
}
/*div, содержащий стрелки (кнопка очистки)*/
.subClearDiv{
    display: none;
    position: relative;
}

.washedMatrix:hover .subClearDiv{
display: block;
    left: -20px;
    top:-10px;
}

.roundButtonSmall {
    border-radius: 7em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: block;
    margin: 5px;
    border: 2px solid #d00015;
    background-color: rgba(255, 255, 255, 0.51);
}

.roundButtonSmall:hover, .roundButtonSmall:focus {
    background-color: #d00015;
    transition: background-color 1s ease;
    transition-delay: 0.1s;
}

.roundButtonSmall:active {
    background-color: #ff0066;
    transition: background-color 0.01s ease;
    transition-delay: 0s;
}

/*Добавить нарисованный символ в алфавит******/
.addCharInAlphabet {
    border: 2px solid #5aff05;
    display: inline-block;
}

.addCharInAlphabet:hover, .addCharInAlphabet:focus {
    background-color: #5aff05;
    transition: background-color 1s ease;
    transition-delay: 0.1s;
}

.addCharInAlphabet:active {
    background-color: #c8ff00;
    transition: background-color 0.01s ease;
    transition-delay: 0s;
}

/*Сохранить алфавит******/
.saveAlphabet {
    border: 2px solid #0068ff;
    display: inline-block;
}

.saveAlphabet:hover, .saveAlphabet:focus {
    background-color: #007dff;
    transition: background-color 1s ease;
    transition-delay: 0.1s;
}

.saveAlphabet:active {
    background-color: #00ffa0;
    transition: background-color 0.01s ease;
    transition-delay: 0s;
}

/*Смена языка шрифта******/
.countryFlag {
    border: 2px solid rgba(226, 74, 8, 1);
    display: inline-block;
}

.countryFlag:hover, .countryFlag:focus {
    background-color: rgba(226, 74, 8, 0.76);
    transition: background-color 1s ease;
    transition-delay: 0.1s;
}
.countryFlag:active{
    background-color: #fdfef5;
    transition: background-color 0.01s ease;
    transition-delay: 0s;
}

.createTicker{
    border: 2px solid rgb(255, 13, 0);
    display: inline-block;
}

.createTicker:hover, .createTicker:focus {
    background-color: rgb(176, 22, 0);
    transition: background-color 1s ease;
    transition-delay: 0.1s;
}
.createTicker:active{
    background-color: rgb(255, 36, 0);
    transition: background-color 0.01s ease;
    transition-delay: 0s;
}



.saveArduinoCode{
    border: 2px solid rgb(191, 31, 255);
    display: inline-block;
}
.saveArduinoCode:hover, .saveArduinoCode:focus {
    background-color: rgb(110, 24, 146);
    transition: background-color 1s ease;
    transition-delay: 0.1s;
}
.saveArduinoCode:active{
    background-color: rgb(191, 0, 255);
    transition: background-color 0.01s ease;
    transition-delay: 0s;
}


/*Меню******/
.menu{
    float:right;
    width: 40px;
    height: 40px;
    border: 2px solid #b70029;
    border-radius: 10px 10px 90px 90px ;
    cursor: pointer;
    margin-bottom: 1%;
}

.menu:hover .subMenu{
    display: inline-block;
}
.menu:hover{
    background-color: #ff001b;
    transition: background-color 1s ease;
    transition-delay: 0.1s;
}

.subMenu{
    display: none;
    position: absolute;
    top:48px;
    right: 0;
}







