.frameSVG_1{
    background-image: url("../svg/frame/frame_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}

.frameSVG_2{
    background-image: url("../svg/frame/frame_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_3{
    background-image: url("../svg/frame/frame_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_4{
    background-image: url("../svg/frame/frame_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}

.frameSVG_5{
    background-image: url("../svg/frame/frame_5.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_6{
    background-image: url("../svg/frame/frame_6.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_7{
    background-image: url("../svg/frame/frame_7.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_8{
    background-image: url("../svg/frame/frame_8.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_9{
    background-image: url("../svg/frame/frame_9.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_10{
    background-image: url("../svg/frame/frame_10.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_11{
    background-image: url("../svg/frame/frame_11.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_12{
    background-image: url("../svg/frame/frame_12.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}


.frameSVG_13{
    background-image: url("../svg/frame/frame_13.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_14{
    background-image: url("../svg/frame/frame_14.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_15{
    background-image: url("../svg/frame/frame_15.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_16{
    background-image: url("../svg/frame/frame_16.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_17{
    background-image: url("../svg/frame/frame_17.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_18{
    background-image: url("../svg/frame/frame_18.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_19{
    background-image: url("../svg/frame/frame_19.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_20{
    background-image: url("../svg/frame/frame_20.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}


.frameSVG_21{
    background-image: url("../svg/frame/frame_21.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_22{
    background-image: url("../svg/frame/frame_22.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}


.frameSVG_23{
    background-image: url("../svg/frame/frame_23.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_24{
    background-image: url("../svg/frame/frame_24.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_25{
    background-image: url("../svg/frame/frame_25.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_26{
    background-image: url("../svg/frame/frame_26.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_27{
    background-image: url("../svg/frame/frame_27.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_28{
    background-image: url("../svg/frame/frame_28.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_29{
    background-image: url("../svg/frame/frame_29.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
/**/
.frameSVG_30{
    background-image: url("../svg/frame/frame_30.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}

.frameSVG_31{
    background-image: url("../svg/frame/frame_31.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_32{
    background-image: url("../svg/frame/frame_32.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}

.frameSVG_33{
    background-image: url("../svg/frame/frame_33.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_34{
    background-image: url("../svg/frame/frame_34.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_35{
    background-image: url("../svg/frame/frame_35.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_36{
    background-image: url("../svg/frame/frame_36.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_37{
    background-image: url("../svg/frame/frame_37.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_38{
    background-image: url("../svg/frame/frame_38.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}
.frameSVG_39{
    background-image: url("../svg/frame/frame_39.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}

.frameSVG_40{
    background-image: url("../svg/frame/frame_40.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}

.frameSVG_41{
    background-image: url("../svg/frame/frame_41.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}