body {
    color:white;
    background-color: #24292d;
}

.matrix {
    border: 4px solid black;
    background-color: #3b434a;
    display:inline-block
}
.matrix tr {
    min-height: 40px;
    height: 40px;
}

.matrix td {
    border: 1px solid black;
    min-width: 40px;
    width: 40px;
    border-radius: 30px;
}

.ledON{background-color: #d70000;}
#EditCharInAlphabet{background-color: #74d700;}
.displayNone{display: none;}

.tableAlphabet{
    border-collapse: collapse;
    background-color: #3b434a;
    text-align: center;
}

.tableAlphabet td {
    border: 1px solid black;
    padding: 5px;
    width: 300px;
    cursor: pointer;
}
.tableAlphabet th {
    border: 1px solid black;
    width:30px;
}

.div_TableAlphabet{
    border: 4px solid black;
    height: 346px;
    margin-left: 10px;
    overflow-y: scroll;
    display:inline-block
}


#CurrentSelectedFont{
    border-radius: 1em;
    border: 2px solid #00d0c2;
    background-color: rgba(41, 90, 255, 0.64);
    color: #daff00;
}


.inputDownloadFont {
    border-radius: 1em;
    border: 2px solid #b70029;
    background-color: rgba(183, 106, 102, 0.42);
    font-size: 1.2em;
    padding-left: 10px;
    outline: none;
    color: black;
    width: 100%;
}

.inputDownloadFont:focus {
    background-color: rgba(183, 0, 41, 0.42);
    color: white;
}

.fontSize {
    font-size: 1.2em;
}

.fontSelection{
    height: 100px;
    min-width: 100px;
    margin-left: 10px;
    overflow-y: scroll;
    padding: 10px;
    border: 4px solid black;
    background-color: #3b434a;
    font-size: 1.2em;
    color: white;
    display: inline-block;
}

.fontSelection TD{
    cursor: pointer;
}
.fontNameTable{
    display: inline-block;
}

.buttonDiv {
    display: inline-block;
}
