/*Файл содержит классы SVG файлов*/
.packageSVG{
    background-image: url("../svg/Package.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}

.unitedKingdomSVG{
    background-image: url("../svg/united-kingdom.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

.russiaSVG{
    background-image: url("../svg/Russia.svg");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.numberSVG{
    background-image: url("../svg/maths.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}

.matrixClearSVG {
    background-image: url("../svg/dot-matrix.svg");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.washedAlphabetSVG {
    background-image: url("../svg/dictionary_pictogram.svg");
    background-size: 83% 83%;
    background-repeat: no-repeat;
    background-position: center;
}

.plusSVG{
    background-image: url("../svg/like.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}

.saveSVG{
    background-image: url("../svg/diskette.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}

.washedSVG{
    background-image: url("../svg/Washed.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}

.menuSVG{
    background-image: url("../svg/pro.svg");
}

.createFontSVG{
    background-image: url("../svg/pencilPictogram.svg");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.runSVG{
    background-image: url("../svg/running.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}
.helpSVG{
    background-image: url("../svg/help.svg");
}

.testSVG{
    background-image: url("../svg/test.svg");
}

.tickerSVG{
    background-image: url("../svg/sneaker.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}

.arduinoLogoSVG{
     background-image: url("../svg/download.svg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: 70% 70%;
 }

.codeSVG{
    background-image: url("../svg/code-break.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;

}

.bookASVG{
    background-image: url("../svg/open-book.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85% 85%;
}

.photoSVG{
    background-image: url("../svg/photo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

.cameraSVG{
    background-image: url("../svg/camera.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}

.homeSVG{
    background-image: url("../svg/mansion.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85% 85%;
}
.showSVG{
    background-image: url("../svg/view.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85% 85%;
}
.hideSVG{
     background-image: url("../svg/hide.svg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: 85% 85%;
 }
.clapperboardSVG{
    background-image: url("../svg/clapperboard.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}

.clearAllFrameSVG{
    background-image: url("../svg/edit-video.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85% 85%;
}

.folderSVG{
    background-image: url("../svg/folder.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}


.videoCassetteSVG{
    background-image: url("../svg/vhs.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}
